{% extends "base.html" %}
{% block app_content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<div class="container">
    {% for data in plot %}
    <div class="row">
        <div class="col-md-12">
            <div class="chart" id="linegraph{{ loop.index }}">
                <script>
                    var graphs = {{data | safe}};
Plotly.plot('linegraph{{ loop.index }}',graphs,{});
                </script>
            </div>
        </div>
    </div>
    {% endfor %}
































    {% if imgSrc %}
    <h4>Machine Learning Algorithm Predictions</h4>
    <img src='/static/{{ imgSrc }}' width="90%">
    <h4>Direct Modeling Algorithm Predictions</h4>
    <img src='/static/b_{{ imgSrc }}' width="90%">
    
    {% endif %}
</div>
{% endblock %}
