3to2==1.1.1
alembic==1.0.11
Babel==2.7.0
blinker==1.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
configobj==5.0.6
dominate==2.3.5
elasticsearch==7.0.2
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.8.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
guess-language-spirit==0.5.3
gunicorn==19.9.0
httpie==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.14
MarkupSafe==1.1.1
numpy==1.16.4
pandas==0.24.2
plotly==4.0.0
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.4.2
pygobject==3.26.1
PyJWT==1.7.1
PyMySQL==0.9.3
pyparted==3.11.1
python-apt==1.6.4
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-xapp==1.6.0
python-xlib==0.20
pytz==2019.2
pyxdg==0.25
redis==3.2.1
requests==2.22.0
retrying==1.3.3
rq==1.1.0
setproctitle==1.1.10
six==1.12.0
SQLAlchemy==1.3.5
typing==3.7.4
urllib3==1.25.3
visitor==0.1.3
Werkzeug==0.15.5
WTForms==2.2.1
